body {
	margin: 1em 5em 0 5em;
}


h1{
    text-align: center;
}

.connexion div input[type="submit"] {
    width: 12em; 
    height: 7em;
}

.connexion p label:not(.connexion div p label) {
    width: 9em;
    display: inline-block;
}

.inscription table,
.connexion table{
	margin:0 auto;
}

.seconde_column {
    padding-left: 5em;
}

.button_co input,
.inscription input[type="submit"],
button {
    height: 4em;
    width: 10em;
}

tr.option_co {
    height: 5em;
}

.option_co .seconde_column{
	padding-left: 1em;
}

.creacompte {
	text-align : center;
}

.inscription table:nth-child(2n) {
	margin-top: 1em;
}

.filtre table td {
    width: 30em;
}

.filtre input[type="submit"]{
	width: 24em;
	height: 6em;
}

.filtre input[type="text"]{
	width: 20em;
	padding-left: 1em;
	height: 2em;
	border-radius: 12px;
	border: 1px solid black;
}

.creacompte button {
    width: 25em;
    height: 6em;
}

input[type="submit"],
button {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
}

.filtre p{
	font-weight: bold;
}
.filtre table td table tr{
    height: 2.5em;
}

.filtre #categorie {
    width: 15em;
}

header .logo {
    font-size: 1.4em;
    font-family: comic sans ms;
}

.option_co td {
    width: 9em;
}

header .logo:link {
    text-decoration: none;
    color: black;
}

.header_table {
    width: 100%;
}

.header_table td:last-child {
	text-align: right;
}

.header_table ul li {
    display: inline-block;
    margin-left: 1em;
}