body {
	margin: 1em 5em 0 5em;
}


h1{
    text-align: center;
}

.connexion div input[type="submit"] {
    width: 12em; 
    height: 7em;
}

.connexion p label:not(.connexion div p label) {
    width: 9em;
    display: inline-block;
}

.inscription table,
.connexion table{
	margin:0 auto;
}

.seconde_column {
    padding-left: 5em;
}

.button_co input,
.inscription input[type="submit"],
button,
input[type="submit"] {
    height: 4em;
    width: 10em;
}

tr.option_co {
    height: 5em;
}

.option_co .seconde_column{
	padding-left: 1em;
}

.creacompte {
	text-align : center;
}

.inscription table:nth-child(2n) {
	margin-top: 1em;
}

.filtre table td {
    width: 30em;
}

.filtre input[type="submit"]{
	width: 24em;
	height: 6em;
}

.filtre input[type="text"]{
	width: 20em;
	padding-left: 1em;
	height: 2em;
	border-radius: 12px;
	border: 1px solid black;
}

.creacompte button {
    width: 25em;
    height: 6em;
}

input[type="submit"],
button {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
}

.filtre p{
	font-weight: bold;
}
.filtre table td table tr{
    height: 2.5em;
}

.filtre #categorie {
    width: 15em;
}

header .logo {
    font-size: 1.4em;
    font-family: comic sans ms;
}

.option_co td {
    width: 9em;
}

header .logo:link {
    text-decoration: none;
    color: black;
}

.header_table {
    width: 100%;
}

.header_table td:last-child {
	text-align: right;
}

.header_table ul li {
    display: inline-block;
    margin-left: 1em;
}

table {
    margin: 1em auto;
    width:40em;
}

.deco_popup .modal{
	display:none;
}

.deco_popup .is-not-visible,
.is-not-visible .modal-content{
	display:none!important;
}

.deco_popup.active .modal{
	display:block;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close_popup {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_popup:hover,
.close_popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}