header, .filtre{
    overflow: hidden;
    display: flex;
    margin-right: 1em;
}

header a,
header p{
    margin: 0;
}

header div:nth-child(2n),
header a{
    float: right;
}
header div,
section .column{
    width: 50%;
    margin: 1em 0;
}

h1{
    text-align: center;
}

.filtre input[type="submit"] {
    width: 25em;
    height: 5em;
    margin: 3em 0;
}


.filtre .column div{
    margin: 1em 0;
}

.filtre input[type="text"]{
	width:50%;
}

.filtre #categorie {
    width: 39.5%;
    text-align: center;
}